*.egg-info/
*.make
*_bin
obj
*~
src/*~
src/shader/*~
develop_notes.txt
UnitTest
*.log
doc
core
assimp_log.txt
test.txt
.cproject
.project
.settings
.DS_Store
game.xcodeproj
build
.dir-locals.el
*.dat
*.pyc
*.o
.coverage
.pytest_cache/
htmlcov/

